<html>
  <head>
     <link rel="stylesheet" href="formtime.component.css">
  </head>
<body>
  <script src="formvalid.js"></script>
  <section id="about">
  <div class="container">
     <div class="row">
       <div class="col-md-6">
         <div class="about-content">
         <pre class="contact-details">
           <h3>Let's create your <br>time table</h3>
         </pre><br>
           <pre class="contact-details">
             <h5>Fill the details and submit <br><br> let's see how it is going....... </h5>
         </pre>
           <pre class="contact-details">
             <img src="/assets/images/gif2.gif" class="butterfly">
             <h4>Hi I'm little foxy <br><br> Don't worry I will help you....</h4>
             <img src="/assets/images/gif1.gif" alt="image" class="fox">
         </pre>
           <br>
           <pre class="contact-details">

         </pre>
         </div>
       </div>
       <div class="col-md-6">
         <h1 style=" text-align:center; font-style:italic">My Time Table</h1>
         <div class="about-content">
         </div>
         <div class="card">
         <div class="contact-design">
<form name="cform" action="" method="POST" onsubmit="return validateForm()">
 <label>Title</label><br>
 <input type="text" class="form-control" id="fname" name="heading"  placeholder="Title..." [(ngModel)]="Title" required minlength="3" autocomplete="off"><br><br><br>

 <!--<label>Select Week</label><br>
 <input type="week" formControlName="week" class="form-control" name="week" id="week"  autocomplete="off" required [(ngModel)]="Weeek"><br><br><br>-->

 <label>Select Date </label><br>
 <input type="date"  class="form-control" name="date" id="date" [(ngModel)]="SelectDate" required><br><br><br>

 <label>Time</label><br>
 <input type="time"  class="form-control" name="time" required [(ngModel)]="SelectTime" ><br><br><br>

 <!-- <label>Select the colour</label><br>
 <input type="color" name="color" id="colour"  required><br>-->

 <label for="comment">Add details</label><br>
 <textarea  class="form-control" id="comment" name="comment" placeholder="Write something....." style="height:200px" required [(ngModel)]="Detail"></textarea><br><br>


 <input type="submit" value="Add" (click)="addTask()" >
 <input type="reset" value="Clear" > <br><br><br>


</form>
</div>
</div>
</div>
     </div>
     </div>
</section>
<!--<table class="table table-striped">
<thead>
<tr>
   <th>TaskId</th>
   <th>Title</th>
   <th>Week</th>
   <th>Date</th>
   <th>Time</th>
   <th>Details</th>
   <th>Options</th>
</tr>
</thead>
<tbody>
<tr *ngFor="let dataItem of listData">
   <td>{{dataItem.TaskId}}</td>
   <td>{{dataItem.Title}}</td>
   <td>{{dataItem.Weeek}}</td>
   <td>{{dataItem.SelectDate}}</td>
   <td>{{dataItem.SelectTime}}</td>
   <td>{{dataItem.Detail}}</td>
   <td><button type="button" class="btn btn-light mr-1">--> <!--
       data-bs-toggle="modal" data-bs-target="#exampleModal"
(click)="editClick(dataItem)"
data-backdrop="static" data-keyboard="false"-->
       <!--Edit</button>&nbsp;
      <button type="button" class="btn btn-light mr-1">Delete</button>
   </td>
</tr>
</tbody>
</table> -->
<!----footer------->
<section id="footer">
<div class="container">
 <p align="center">Made with <svg  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-suit-heart" viewBox="0 0 16 16">
  <path d="m8 6.236-.894-1.789c-.222-.443-.607-1.08-1.152-1.595C5.418 2.345 4.776 2 4 2 2.324 2 1 3.326 1 4.92c0 1.211.554 2.066 1.868 3.37.337.334.721.695 1.146 1.093C5.122 10.423 6.5 11.717 8 13.447c1.5-1.73 2.878-3.024 3.986-4.064.425-.398.81-.76 1.146-1.093C14.446 6.986 15 6.131 15 4.92 15 3.326 13.676 2 12 2c-.777 0-1.418.345-1.954.852-.545.515-.93 1.152-1.152 1.595L8 6.236zm.392 8.292a.513.513 0 0 1-.784 0c-1.601-1.902-3.05-3.262-4.243-4.381C1.3 8.208 0 6.989 0 4.92 0 2.755 1.79 1 4 1c1.6 0 2.719 1.05 3.404 2.008.26.365.458.716.596.992a7.55 7.55 0 0 1 .596-.992C9.281 2.049 10.4 1 12 1c2.21 0 4 1.755 4 3.92 0 2.069-1.3 3.288-3.365 5.227-1.193 1.12-2.642 2.48-4.243 4.38z"/>
</svg> by Little Time Fox</p>
 <p align="center">Copyright © 2021 -Little Time Fox - All Rights Reserved.</p>
</div>
</section>
</body>
</html>
